body {
  font-family: sans-serif;
  padding: 2em;
}

input {
  margin-right: 1em;
}

#status {
  margin-top: 1em;
  background: #f2f2f2;
  padding: 1em;
}

#renderArea {
  width: 800px;
  height: 600px;
  border: 1px solid #ddd;
}